$token-a11y-min-target-size: 44px;
$token-a11y-focus-ring-outer-width: 1px;
$token-a11y-focus-ring-outer-offset: 2px;
$token-a11y-focus-ring-outer-color: #ffc629;
$token-a11y-focus-ring-inner-width: 2px;
$token-a11y-focus-ring-inner-offset: -3px;
$token-a11y-focus-ring-inner-color: #ffc629;